@using Radzen.Blazor.Rendering
@inherits UpdateDialogBase<GetLocationResponse>
@inject ShiftService ShiftService

<RadzenScheduler @ref="_scheduler"
                 TItem="ContainerAppointment"
                 Data="@Appointments"
                 Date="@_date"
                 Style="@SchedulerStyle"
                 StartProperty="@nameof(ContainerAppointment.LocalStart)"
                 EndProperty="@nameof(ContainerAppointment.LocalEnd)"
                 TextProperty="@nameof(ContainerAppointment.Title)"
                 TodayText="Heute"
                 SelectedIndex="0"
                 SlotSelect="@OnSlotSelect"
                 AppointmentSelect="RemoveContainer"
                 AppointmentRender="@OnAppointmentRender">
	<ChildContent>
		<RadzenWeekView Text="Woche"
		                StartTime="@Settings.StartTime"
		                EndTime="@Settings.EndTime"
		                MinutesPerSlot="30"
		                TimeFormat="HH:mm"/>
		<RadzenDayView Text="Tag"
		               StartTime="@Settings.StartTime"
		               EndTime="@Settings.EndTime"
		               MinutesPerSlot="30"
		               TimeFormat="HH:mm"/>
	</ChildContent>
	<Template Context="ca">
		<div class="appointment-host">
			<div class="appointment-title">
				@ca.Title
			</div>
		</div>
	</Template>
</RadzenScheduler>


@code {
	[CascadingParameter] public required ApplicationSettings Settings { get; set; }

	private RadzenScheduler<ContainerAppointment>? _scheduler;
	private DateTime _date;

	private string SchedulerStyle
	{
		get
		{
			var hours = (Settings.EndTime - Settings.StartTime).TotalHours;
			var height = (48.125 * hours + 88.75).ToInvariantString();
			return $"height: {height}px !important;";
		}
	}

	private IEnumerable<ContainerAppointment> Appointments =>
		(EntityToEdit.Containers ?? Enumerable.Empty<GetContainerResponse>())
		.OrderBy(c => c.Start)
		.Select(c => new ContainerAppointment(
			c,
			c.Start.ToLocalTime(),
			c.GetEndTime().ToLocalTime(),
			TextForContainer(c)));

	protected override void OnInitialized()
	{
		var earliest = EntityToEdit.Containers?
			.OrderBy(c => c.Start)
			.Select(c => (DateTime?)c.Start.ToLocalTime())
			.FirstOrDefault();
		_date = earliest ?? ShiftService.CurrentSeason.StartDate.ToLocalTime();
	}

	protected override Task Create()
		=> ShiftApi.CreateLocationType(new() { Name = EntityToEdit.Name });

	protected override Task Update()
	{
		throw new NotImplementedException();
	}

	private async Task OnSlotSelect(SchedulerSlotSelectEventArgs args)
	{
		var prefilled = new GetContainerResponse { Start = args.Start };
		var parameter = new Dictionary<string, object>
		{
			[nameof(AddLocationContainersDialog.LocationId)] = EntityToEdit.Id,
			[nameof(AddLocationContainersDialog.EntityToEdit)] = prefilled,
		};
		var hasChanged = await DialogService.OpenAsync<AddLocationContainersDialog>("Füge Container hinzu", parameter);
		if (hasChanged == true)
			await Refresh();
	}

	private void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<ContainerAppointment> args)
	{
		args.Attributes["style"] = $"background: {args.Data.Container.Color}; color: black;";
	}

	private async Task RemoveContainer(SchedulerAppointmentSelectEventArgs<ContainerAppointment> c)
	{
		var d = await DialogService.Confirm($"Are you sure that you want to delete '{c.Data.Title}' starting from {c.Data.LocalStart:dddd HH:mm} to {c.Data.LocalEnd.ToShortTimeString()}? This can't be undone!");
		if (d.HasValue && d.Value)
		{
			try
			{
				await ShiftApi.DeleteContainer(c.Data.Container.Id);
				await Refresh();
			}
			catch (Exception ex)
			{
				await DialogService.Error(ex);
			}
		}
	}

	private async Task Refresh()
	{
		EntityToEdit = await ShiftApi.GetLocationById(EntityToEdit.Id);
		await InvokeAsync(StateHasChanged);
		if (_scheduler is not null)
			await _scheduler.Reload();
	}

	private static string TextForContainer(GetContainerResponse c)
		=> c.Framework.Name;

	public record ContainerAppointment(
		GetContainerResponse Container,
		DateTime LocalStart,
		DateTime LocalEnd,
		string Title);

}
