@if (_appointments.Any())
{
	<h3>Deine nächsten Schichten:</h3>
	<div class="shift-container">
		@foreach (var appointment in _appointments)
		{
			@if (appointment.Shift is {} shift)
			{
				<a style="color: #fff;" href="@MakeLocationUri(appointment)">
					<div class="shift-box" style="background: @shift.Type.Color;">
						<b>@Locations.First(l => l.Id == shift.LocationId).Name</b>
						<br/>
						@shift.Type.Name
						<br/>
						@appointment.StartTimeWithTimeShift.ToString("ddd dd.MM.")
						<br/>
						@appointment.StartTimeWithTimeShift.ToString("HH:mm") - @appointment.EndTimeWithTimeShift.ToString("HH:mm")
					</div>
				</a>
			}
		}
	</div>
}
else
{
	<LoadingSpinner/>
}