@if (_appointments.Any())
{
	<h3>Deine nächsten Schichten:</h3>
	<div class="d-flex flex-wrap">
		@foreach (var appointment in _appointments)
		{
			@if (appointment.Shift is {} shift)
			{
				<a style="color: #fff;" href="@MakeLocationUri(appointment)">
					<div class="rz-event-content m-1 p-3" style="background: @shift.Type.Color;">
						@Locations.First(l => l.Id == shift.LocationId).Name<br/>
						@shift.Type.Name
						<br/>
						@appointment.StartTimeWithTimeShift.ToString("ddd dd.MM. HH:mm") - @appointment.EndTimeWithTimeShift.ToString("HH:mm")
					</div>
				</a>
			}
		}
	</div>
}
else
{
	<div class="lds-ripple">
		<div></div>
		<div></div>
	</div>
}