@using Muddi.ShiftPlanner.Client.Entities
@inject DialogService DialogService
<RadzenTemplateForm TItem="TemplateFormShiftParameter" Data="@ShiftParameter" Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Benutzer"/>
        </div>
        <div class="col">
            <RadzenTextBox Value="@(ShiftParameter.ShiftToEdit?.User.Name ?? ShiftParameter.User.Name)" Name="Person" ReadOnly="true"/>
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Start"/>
        </div>
        <div class="col">
            @* @if (isAllowedToEdit)
            {
                <RadzenDropDown TValue="DateTime"
                                Data="@ShiftParameter.Container.ShiftStartTimes"
                                @bind-Value="ShiftParameter.StartTime">
                    <Template Context="dateTime">@(((DateTime)dateTime).ToString("HH:mm"))</Template>
                </RadzenDropDown>
            }
            else
            {*@
            <RadzenTextBox Name="Start" Value="@((ShiftParameter.StartTime).ToString("HH:mm"))" ReadOnly="@(!isAllowedToEdit)"/>


        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Ende"/>
        </div>
        <div class="col">
            <RadzenTextBox Name="End" Value="@((ShiftParameter.StartTime + ShiftParameter.Container.Framework.TimePerShift).ToString("HH:mm"))" ReadOnly="true"/>
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Rolle"/>
        </div>
        <div class="col">
            @if (isAllowedToEdit)
            {
                @if (_availableRoles.Any())
                {
                    <RadzenDropDown TValue="ShiftType" Disabled="@(!isAllowedToEdit)" Data="@_availableRoles" @bind-Value="@ShiftParameter.Role">
                        <Template Context="role">@(((ShiftType)role).Name)</Template>
                    </RadzenDropDown>
                }
                else
                {
                    <RadzenTextBox Value="Keine freien Slots frei"></RadzenTextBox>
                }
            }
            else
            {
                <RadzenTextBox Name="End" Value="@ShiftParameter.Role!.Name" ReadOnly="true"/>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            @if (isAllowedToEdit)
            {
                <RadzenButton ButtonType="ButtonType.Submit" Disabled="@(ShiftParameter.Role is null)" Text="Eintragen"/>
            }
        </div>
    </div>
</RadzenTemplateForm>