@using Microsoft.AspNetCore.Components
@using Muddi.ShiftPlanner.Shared.Contracts.v1.Responses
@using Muddi.ShiftPlanner.Client.Pages.Admin;
@using System.Security.Claims
@using Muddi.ShiftPlanner.Client.Services
@using Muddi.ShiftPlanner.Shared.Contracts.v1
@using Muddi.ShiftPlanner.Shared.Contracts.v1.Requests
@inject ShiftService ShiftService;
@inherits UpdateDialogBase<GetShiftResponse>

@if (_user is not null && EntityToEdit.Type is not null)
{
	@if (_isAdmin)
	{
		<h3>Admin Mode</h3>
	}
	<div class="row">
		<div class="col-md-4 align-items-center d-flex">
			<RadzenLabel Text="Muddi"/>
		</div>
		<div class="col-md-8">
			@if (_employeesToSelect is null)
			{
			
				<RadzenTextBox
					ReadOnly="true"
					Value="@($"{EntityToEdit.EmployeeFullName} {(_isShiftUser ? "(Das bist du!)" : "")}")">
				</RadzenTextBox>
			}
			else
			{
				<RadzenDropDown
					ValueProperty="Id"
					TextProperty="FullName"
					@bind-Value="EntityToEdit.EmployeeId"
					Style="width:200px;"
					TValue="Guid"
					Data="@_employeesToSelect">
				</RadzenDropDown>
			}
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 align-items-center d-flex">
			<RadzenLabel Text="Start"/>
		</div>
		<div class="col-md-8">
			<RadzenTextBox Name="Start" Value="@EntityToEdit.StartToDisplayString()" ReadOnly="true"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 align-items-center d-flex">
			<RadzenLabel Text="Ende"/>
		</div>
		<div class="col-md-8">
			<RadzenTextBox
				Name="End"
				Value="@EntityToEdit.EndToDisplayString()"
				ReadOnly="true"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 align-items-center d-flex">
			<RadzenLabel Text="Type"/>
		</div>
		<div class="col-md-8">
			@if (_isShiftUser || _isAdmin)
			{
				@if (_availableShiftTypes.Any())
				{
					<RadzenDropDown
						Style="width:200px;"
						TValue="GetShiftTypesResponse"
						Data="@_availableShiftTypes"
						@bind-Value="@EntityToEdit.Type">
						<Template Context="type">@(((GetShiftTypesResponse)type).Name)</Template>
					</RadzenDropDown>
				}
				else
				{
					<RadzenTextBox Value="@(EntityToEdit.Type?.Name ?? "Keine freien Slots frei")" ReadOnly="true"></RadzenTextBox>
				}
			}
			else
			{
				<RadzenTextBox Name="Type" Value="@(EntityToEdit.Type?.Name ?? "Keine freien Slots frei")" ReadOnly="true"/>
			}
		</div>
	</div>
	@if ((_isShiftUser || _isAdmin) && EntityToEdit.Id != default)
	{
		<div class="row">
			<div class="col-md-4 align-items-center d-flex">
				<RadzenLabel Text="Delete"/>
			</div>
			<div class="col-md-8">
				<RadzenButton
					Click="DeleteClick"
					Text="Schicht Löschen"
					Icon="delete"
					Style="background: #de0808">
				</RadzenButton>
			</div>
		</div>
	}
}
<div class="row mb-3 mt-4">
	<div class="col-md-12 text-right">
		<RadzenButton Click="UpdateAndClose" ButtonStyle="ButtonStyle.Success" Text="OK"/>
		<RadzenButton Click="CloseWithoutSave" ButtonStyle="ButtonStyle.Danger" Text="Abbrechen" Class="mr-1"/>
	</div>
</div>